.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho{
    background-color: rgb(250, 252, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked.lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1m;
    background-color: blueviolet;

}
.lista-menu__titulo{
    color: black;
    font-weight: 700;
}
.lista-menu__link{
    background: rgb(20,20, 74);
    -webkit-backdrop-clip: text;
    -webkit-backdrop-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}
.container__botao{
    display: none;
}
